body {
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'roboto', serif;
}

p
{
	font-family: "roboto";
}

.banner-p {
    /* transform: translateY(790%); */
    padding-top: 40vh;
    text-align: center;
    /* padding-left: 20px;
    padding-right: 20px;  */
    font-weight: 600; 
    font-size: 280%;
    /* word-wrap: wrap; */
    word-spacing: 20px;
    font-family: 'Montserrat', sans-serif;
    /* position: relative; */
    transform: translateZ(100px) !important;
}

nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.container1 {
    background-color: var(--color-2);
    
    height: 100%;
    margin-bottom: 20%;
  
}

.container{
 margin-top: 200px;
 margin-bottom: 200px;
}


.lines {
    padding-top: 5px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}



.card {
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px rgb(102, 98, 98);
}

.card-styling1 {
    padding-right: 60px;
}

.card-styling2 {
    padding-left: 60px;
}

.btn-style{
    background-color: white;
    border: 1px solid #0077ff;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 56px;
    transform: translatey(60%);

    border-color: rgb(123, 176, 245);
    color: #0077ff;
    transition: 0.25s ease;
    font-family: 'Montserrat', sans-serif;
}
.btn-style a{
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.btn-style:hover {
    background-image: linear-gradient(to right, #0077ff, #0077ff);
    color: white;
}





@media (max-width: 321px) {
    
    .container1 {
        height: 100% ;
    }
}



@media (max-width: 769px) {
  
    body {
        background-size: 100%;
    }
}

@media (max-width: 415px) {
    .card-styling1 {
        padding-right: 10px;
        padding-left: 10px;
    }
    .card-styling2 {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width:900px) {
    .container1 {
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 50vh;
     
    }
}


@media (max-width: 768px) {
    .card-styling2 {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
    }
    .card-styling1 {
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 769px) and (max-width: 992px){
    .card-styling2{
        margin-top: 70px;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .card-styling1{
        padding-left: 60px;
        padding-right: 15px;
    }
}

@media (max-width: 415px){
    .banner-p{
        padding-top: 44vh;
        font-size: 110%;
        word-spacing: 5px;
    }
}

@media (max-width: 376px){
    .banner-p{
        padding-top: 44vh;
        font-size: 100%;
    }
}

@media (max-width: 321px){
    .banner-p{
        padding-top: 46vh;
        font-size: 80%;
    }
}

.img-fluid{
    width: 180px !important;
}



img {
    vertical-align: middle;
    border-style: none;
    height: 100%;
}